body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #f4f4f4;
    font-family: helvetica;
    font-size: 30px;
  }
  
  .btn {
    background-color: white;
    padding: 100px 100px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
  }
  
  .btn span {
    position: relative;
    z-index: 1;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    background-color: rgb(14, 219, 255);
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 1s, height 1s;
  }
  
  .btn:hover::before {
    width: 1000px;
    height: 1000px;
  }